#notification_alert {
    position: absolute;
    top: 0;
    right: 0;
}
#notification {
    position: absolute;
    top: 0;
    right: 0;

}
#para {
    border: 1px solid black;
    width: 500px;
    height: 150px;
    overflow: scroll;

}
.toast-color {
    color: white;
    background-color: #20B2AA;
}
.myAlert-bottom{
    position: fixed;
    bottom: 0;
    right:0;
}
