.padding_form{
    padding: 20px;
}
.radius_header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.h1{
    color: orange;
}
header{
    background-color: midnightblue;
}
p{
    font-family:"Khmer OS System";
}
.font_size{
    font-size: 15px;
}
.bottom_padding{
    padding-bottom: 25px;
}
.khmer_text{
    width: 50%;
}




