<head>
    <title>Survey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Bayon' rel='stylesheet' type='text/css'>
    <style>
    </style>
</head>

<p><strong>BORDER:</strong></p>
<label><input type="radio" name="Border" data-color="red" value="0" /> No Border + £0</label>
<label><input type="radio" name="Border" data-color="blue" value="5" /> Recessed Border + £5</label>
<label><input type="radio" name="Border" data-color="green" value="5" /> Square Border + £5</label>
<label><input type="radio" name="Border" data-color="yellow" value="5" /> Rounded Border + £5</label>

<p><strong>BORDER:</strong></p>
<label><input type="radio" name="red" data-color="red" value="0" /> No Border + £0</label>
<label><input type="radio" name="red" data-color="blue" value="5" /> Recessed Border + £5</label>
<label><input type="radio" name="red" data-color="green" value="5" /> Square Border + £5</label>
<label><input type="radio" name="red" data-color="yellow" value="5" /> Rounded Border + £5</label>

<p><strong>BORDER:</strong></p>
<label><input type="radio" name="gender" data-color="red" value="0" /> No Border + £0</label>
<label><input type="radio" name="gender" data-color="blue" value="5" /> Recessed Border + £5</label>
<label><input type="radio" name="gender" data-color="green" value="5" /> Square Border + £5</label>
<label><input type="radio" name="gender" data-color="yellow" value="5" /> Rounded Border + £5</label>

<p>Total: £ <span id="total">0</span></p>
<p>Total blue: £ <span id="t">0</span></p>
<script>
$(":radio").on("change", function(){
    var total = 0;
    var t = 0;
    var totalblue = $('#t').text();
    var totalred = $('#total').text();
    
    $(":radio:checked").each(function(){
    if($(this).data('color') == 'red'){
    	if(totalblue >0){
       total += 1;
     totalblue =totalblue-1;
        $("#total").text(total);
         $("#t").text(totalblue);
      }else{
       total += 1;
        $("#total").text(total);
      }
       
    }
    if($(this).data('color') == 'blue'){
    	if(totalred >0){
       totalblue = Number(totalblue) + 1;
     		totalred =Number(totalred) -1;
        $("#total").text(total);
         $("#t").text(totalblue);
      }else{
       t += 1;
        $("#t").text(t);
      }
    }
    });
    
    
});
</script>
</body>
</html>
